<section class="hero is-link is-small stick-nav">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item"  >
          
            <img class="animate__animated animate__slideInLeft animate__slow" src="/website_images/bp_logo.png" alt="Logo">
          </a>
          <span class="navbar-burger" data-target="navbarMenuHeroA">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroA" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item">
                <%= link_to "All Tasks", all_tasks_path, class:"navbar-item" %>

            </a>

            <%#Buttons for filtering tasks by completed/uncompleted#%>
            <a class="navbar-item">
            <%= link_to "Completed Tasks", tasks_completed_path,all_task: @all_task, class:"navbar-item" %>

            </a>
            <a class="navbar-item">
            <%= link_to "Uncompleted Tasks", tasks_uncompleted_path, all_task: @all_task, class:"navbar-item" %>
            

            </a>
            <span class="navbar-item">
                <span class="icon">
                  <i class="fas fa-home"></i>
                </span>
                <%= form_tag(search_path, :method => "get") do %>
                    <div class="input-group input-font">
                    <%= search_field_tag :search, params[:search], placeholder: "Search Tasks...", class:"form-control" %>
                    
                 
                    </div>
                <% end %>
            </span>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title titleSize">
      <%if content_for(:title) %>
        <%= yield :title %>
        <%else%>
        Task List Tracker
        <% end %>
      </p>
      <p class="subtitle subtitleSize ">
        Create, edit, and view all tasks!
        <br/>
        <br/>
        <%= link_to 'Add New Task', new_all_task_path, class:"button is-success"%> 
      </p>
    </div>
  </div>    
  </section>
