<p id="notice"><%= notice %></p>

<div class="columns is-centered mt-6">
<div class="column is-one-third">

    <h1 class="new-task">Currently Displaying <%= @all_task.task_title %></h1>

<p>
  <strong>Task Title:</strong>
  <%= @all_task.task_title %>
</p>

<p>
  <strong>Task Description:</strong>
  <%= @all_task.task_description %>
</p>

<p>
<span class="has-text-weight-bold">Task Created: </span> <%= @all_task.created_at.strftime("%m-%d-%Y") %></span>
</p>  


<p>
  <strong>Task Due Date:</strong>
  <%= @all_task.task_due_date.strftime("%m-%d-%Y") %>
</p>

<p>
  <strong>Task Completed Status:</strong>
  <%= @all_task.task_completed %>
</p>

<%= link_to 'Edit', edit_all_task_path(@all_task), class:"button is-primary" %> 
<%= link_to 'Back', all_tasks_path, class:"button is-warning" %>
</div>
</div>