
<div class=" mt-6 is-centered"> 
 <%#@all_tasks.where(:task_completed => true).each do |all_task| #%> 
 
 <%@all_tasks.where(:task_completed => true).each do |all_task| %> 

  <div class="column" >
  <div class="card">
    <header class="card-header-title text-size is-centered has-text-weight-bold">
         
        <%= all_task.task_title %>  
 

    </header> 

    <div class="card-content">
        <div class="content">
          <p><span class="has-text-weight-bold">Description: </span><%= all_task.task_description %></p>
          <p><span class="has-text-weight-bold">Task Created: </span> <%= all_task.created_at.strftime("%m-%d-%Y") %></span></p>  
          <p><span class="has-text-weight-bold">Task Due Date: </span> <%= all_task.task_due_date.to_s %></span></p>  
          <p><span class="has-text-weight-bold">Task Complete Status : </span><%= all_task.task_completed %></span></p>
         </div>
    </div>

      <div class="card-footer">
         <%= link_to 'Show', all_task, class: "card-footer-item button is-success is-light" %>  
         <%= link_to 'Edit', edit_all_task_path(all_task) , class: "card-footer-item button is-warning is-light"  %>  
         <%= link_to 'Destroy', all_task, method: :delete, data: { confirm: 'Are you sure?' }, class: "card-footer-item button is-danger is-light" %> 
      
      </div>
    </div> 
    </div> 
    <% end %>
</div>

